 <div class="top-bar-dark" style="background-color: black;">
      <div class="container" style="height: 36px; color: white;">
          <div class="row">
              <div class="col-sm-4 hidden-xs">
                  <ul class="list-inline socials-simple">
                      <li><a href=""><i class="fa fa-facebook"></i></a></li>
                      <li><a href=""><i class="fa fa-twitter"></i></a></li>
                      <li><a href=""><i class="fa fa-instagram"></i></a></li>
                      <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                      <li><a href=""><i class="fa fa-youtube"></i></a></li>
                  </ul>
              </div>
              <div class="col-sm-8 text-right">
                  <ul class="list-inline top-dark-right">
                      <li class="hidden-sm hidden-xs"><i class="fa fa-envelope"></i><a href="" style="color: white">info@erides.com</a></li>
                      <li class="hidden-sm hidden-xs"><i class="fa fa-phone"></i>+91-9742853723</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <!--top-bar-dark end here-->
  <!--navigation -->
  <!-- Static navbar -->
  <!-- <div id="undefined-sticky-wrapper" class="sticky-wrapper" style="height: 70px;">
      <div class="navbar navbar-default navbar-static-top yamm sticky" role="navigation">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href=""><img src="" alt="E Rides"></a>
              </div>
              <div class="navbar-collapse collapse" style="max-height: 285px;">
                  <ul class="nav navbar-nav navbar-right">
                      <li class="active "><a href="">Home</a></li>
                      <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">About </a> -->
                      <!-- <ul class="dropdown-menu">
                          <li><a href="aboutus.html">Our story</a></li>
                          <li><a href="aboutus.html">Our team</a></li>
                          <li><a href="aboutus.html">
                          Vision</a></li>
                          <li><a href="aboutus.html">Mission</a></li>
                          <li><a href="aboutus.html">Goals</a></li>
                          <li><a href="aboutus.html">Philosophy</a></li>
                          <li><a href="aboutus.html">Core Values</a></li>
                          
                      </ul> -->
                      <!-- </li>
                      <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Our Services</a> -->
                     <!--  <ul class="dropdown-menu">
                          <li><a href="services.html">Ubloom</a></li>
                          <li><a href="services.html">Urise</a></li>
                          <li><a href="services.html">Daan products</a></li>
                      </ul> -->
                      <!-- </li>
                      <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Public relations</a> -->
                      <!-- <ul class="dropdown-menu">
                          <li><a href="#">Events calendar</a></li>
                          <li><a href="#">News articles</a></li>
                      </ul> -->
                      <!-- </li>
                      <li><a href="#">Contact</a></li>
                      </li>
                  </ul> -->
              <!-- </div> --><!--/.nav-collapse -->
          <!-- </div> --><!--container-->
      <!-- </div>
  </div> -->

  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
          <a class="navbar-brand" href="/">Auto<span>road</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
          </button>

          <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
              <li class="nav-item"><a href="" class="nav-link">About</a></li>
              <li class="nav-item"><a href="" class="nav-link">Pricing</a></li>
              <li class="nav-item"><a href="" class="nav-link">Our Car</a></li>
              <li class="nav-item"><a href="" class="nav-link">Blog</a></li>
              <li class="nav-item"><a href="" class="nav-link">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>