/*========================================================================
                          FONT LINKING    
========================================================================*/
@font-face {
  font-family: 'Icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?6tt51o');
  src:  url('../fonts/icomoon/icomoon.eot?6tt51o#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?6tt51o') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?6tt51o') format('woff'),
    url('../fonts/icomoon/icomoon.svg?6tt51o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*========================================================================
                          COMMON STYLES    
========================================================================*/
html {
  position: relative;
  min-height: 100%;
  height: 100%;
}
/*body {
  min-height: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}*/
/*@import "http://fonts.googleapis.com/css?family=Raleway:400,800,700,600,500";*/
body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: "Open Sans", sans-serif;
  color: #424242;
  font-size: 14px;
  line-height: 24px; }

/*
/*-----------------------------------------------------------------------------------*/
/*  RESET
/*-----------------------------------------------------------------------------------*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

:focus {
  outline: 0 !important; }

iframe {
  border: none;
  width: 100%; }

::selection {
  background: #fefac7;
  /* Safari */
  color: #555555; }

::-moz-selection {
  background: #fefac7;
  /* Firefox */
  color: #555555; }

strong, b {
  font-family: 'Raleway', sans-serif;
  font-weight: 700; }

input,
button,
select,
textarea, label {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400; }

hr {
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.2), transparent);
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.2), transparent);
  border: 0;
  height: 1px;
  margin: 22px 0 22px 0; }

.badge {
  font-weight: normal;
  margin-left: 5px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  background-color: #4f82e9;
  padding: 3px 6px; }

a {
  color: #333;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }

a:hover,
a:focus {
  color: #4f82e9;
  text-decoration: none; }

.colored-text {
  color: #4f82e9; }
.container {
  max-width: 1190px;
  /*margin-top: 50px;*/
  position: relative;
}
h1 {

}
h2 {

}
h3 {

}
h4 {

}
h5 {

}
h6 {

}
a {
  text-decoration: none;
}
a:hover, a:focus, a:active {
  text-decoration: none;
}
p {

}
.row{
  margin: 10px
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
   
    bottom: 0,20px;
    background-size: cover;
}
.bg-image{
  background: url('/assets/BG2.jpg');
  margin: 0;
    padding: 0;
    font-family: sans-serif;
   
    bottom: 0,20px;
    background-size: cover;
}
.login-box{
    width:280px;
    position:absolute;
    top:23%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
}
.regis{
  margin-top: 200px;
  background-color: #6f6f6833;
}
.login-box h1 {
  font-size:40px;
  border-bottom: 3px solid;
  margin-top: 0px;
  /*margin-bottom:50px;*/
  padding:13px 0;
  text-decoration-color:aqua;
}

h1{
  margin-bottom: 0px;
}

.textbox{
  overflow:hidden;
  /*font-size:20px;*/
  padding:5px 0;
  /*margin:5px 0;*/
  border-bottom:1px solid;
}

.textbox i{
    width:26px;
    float:left;
    text-align:center;
}
input{
  font-size: medium;
  color: #3e3c3c;
}

.file-text-color{
  color: white;
}

a{
  color: #3e3c3c;
}

select{
  font-size: medium;
  color: #61615d;
}

.image_size{
  height: 230px;
  width: 380px;
}

.navbar-default {
  font-family: "Open Sans", sans-serif;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  margin-bottom: 0;
  width: 100%;
  min-height: 70px;
  padding: 10px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 3px;
  -ms-box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 3px;
  background-color: rgba(255, 255, 255, 0.9);
  clear: both;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #4f82e9;
  background-color: transparent; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #4f82e9;
  background-color: transparent; }

.navbar-brand {
  font-weight: 700;
  color: #000 !important;
  font-size: 30px;
  line-height: 20px;
  font-style: normal;
  text-transform: uppercase; }

.navbar-default .navbar-nav > li > a {
  color: #444;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif; }

.navbar-default .navbar-nav > li > a:hover {
  color: #4f82e9; }

.navbar-brand img {
  margin-top: -20px;
  width: 100px;
  height: auto; }

/*============================*/
/*======dropdowm menu=========*/
/*============================*/
.navbar .dropdown-menu {
  padding: 0px;
  margin: 0;
  min-width: 210px;
  background-color: #fff;
  border: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #ddd; }

.search-dropdown {
  min-width: 244px !important; }

.navbar .dropdown-menu li a {
  color: #777;
  font-size: 12px;
  border-bottom: 1px solid #e1e1e1;
  font-weight: 500;
  padding: 9px 16px;
  line-height: 1.42857143;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif; }

.dropdown-menu .label {
  margin-top: 6px; }

.navbar .dropdown-menu li a:hover {
  background-color: #f5f5f5; }

/*********************

TOP BARS

****************************/
#header-top {
  background-color: #f8f8f8;
  border-bottom: 1px solid #eee; }

.top-bar {
  min-height: 45px;
  line-height: 45px; }
.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.request-form {
  background: #fff;
  padding: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 31px -21px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 10px 31px -21px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 10px 31px -21px rgba(0, 0, 0, 0.33); }
  .request-form h2 {
    color: #000000;
    font-size: 22px;
    font-weight: 600; }
  .request-form p {
    color: rgba(0, 0, 0, 0.5); }
  .request-form .form-group {
    position: relative;
    width: 100%;
    display: block; }
    .request-form .form-group .icon {
      position: absolute;
      top: 50% !important;
      right: 0;
      font-size: 16px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      border: 1px solid red; }
      .request-form .form-group .icon span {
        color: rgba(0, 0, 0, 0.3) !important; }
    .request-form .form-group .select-wrap, .request-form .form-group .input-wrap {
      position: relative; }
      .request-form .form-group .select-wrap select, .request-form .form-group .input-wrap select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none; }
    .request-form .form-group .btn {
      width: 100%;
      display: block !important;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0; }
  .request-form label.label {
    color: #000000;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600; }
  .request-form .form-control {
    border: transparent !important;
    border: 1px solid rgba(0, 0, 0, 0.05) !important;
    height: 40px !important;
    background: transparent !important;
    color: rgba(0, 0, 0, 0.4) !important;
    font-size: 12px;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
    .request-form .form-control::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: rgba(0, 0, 0, 0.4); }
    .request-form .form-control::-moz-placeholder {
      /* Firefox 19+ */
      color: rgba(0, 0, 0, 0.4); }
    .request-form .form-control:-ms-input-placeholder {
      /* IE 10+ */
      color: rgba(0, 0, 0, 0.4); }
    .request-form .form-control:-moz-placeholder {
      /* Firefox 18- */
      color: rgba(0, 0, 0, 0.4); }
    .request-form .form-control:focus, .request-form .form-control:active {
      border-color: #fff; }
  .request-form textarea.form-control {
    height: inherit !important; }
/*.ftco-animate {
  opacity: 0;
  visibility: hidden; }*/

.form-group {
  margin-bottom: 1rem; }

.form-text {
  display: block;
  margin-top: 0.25rem; }
.request-form label.label {
  color: #000000;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600; }
.form-control {
  height: 52px !important;
  background: #fff !important;
  color: #000000 !important;
  font-size: 18px;
  border-radius: 5px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }
.form-control:focus, .form-control:active {
  border-color: #000000; }
.btn {
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 14px; }
  .btn:hover, .btn:active, .btn:focus {
    outline: none; }
  .btn.btn-primary {
    background: #fc983c !important;
    border: 1px solid #fc983c !important;
    color: #fff !important; }
    .btn.btn-primary:hover {
      border: 1px solid #fc983c;
      background: transparent;
      color: #fc983c; }
    .btn.btn-primary.btn-outline-primary {
      border: 1px solid #fc983c;
      background: transparent;
      color: #fc983c; }
      .btn.btn-primary.btn-outline-primary:hover {
        border: 1px solid transparent;
        background: #fc983c;
        color: #fff; }
  .btn.btn-outline-white {
    border-color: rgba(255, 255, 255, 0.8);
    background: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    border-width: 1px;
    color: #fff; }
    .btn.btn-outline-white:hover, .btn.btn-outline-white:focus, .btn.btn-outline-white:active {
      background: #fff;
      border-color: #fff;
      color: #fc983c; }
  .btn.btn-black {
    background: #000000 !important;
    border: 1px solid #000000 !important;
    color: #fff !important; }
    .btn.btn-black:hover {
      border: 1px solid #fc983c;
      background: transparent;
      color: #fc983c; }
    .btn.btn-black.btn-outline-black {
      border: 1px solid #ebebeb !important;
      background: transparent !important;
      color: #000000 !important; }
      .btn.btn-black.btn-outline-black:hover {
        border: 1px solid #fc983c !important;
        background: #fc983c !important;
        color: #fff !important; }
